<head>
    <link rel="stylesheet" href="<%- assets.css %>">
    <script src="<%- assets.admin %>"></script>
</head>

<div class="container" id="loading" style="display: none;">
    <span class="loader"></span>
    <h1>Loading...</h1>
</div>

<div class="container" id="content" style="display: none;">
    <h1 id="aph">Admin panel</h1>
    <% if(page == "/") { %>
        <div class="nav">
            <button class="nav_element_selected">Home</button>
            <button class="nav_element" onclick="gS();">Statistics</button>
            <button class="nav_element" onclick="gMMT();">Monitor & Manage Traffic</button>
            <button class="nav_element" onclick="gSs();">Settings</button>
        </div>
        <span class="loader" id="loader"></span>
        <!-- At a glance statistics-->
        <p class="h"><span style="font-size: xx-large;" id="stat_online">0</span> users online with 
            <span style="font-size: xx-large;" id="stat_requests">0</span> requests and 
            <span style="font-size: xx-large;" id="stat_threats">0</span> threats blocked</p>
    <% } else if(page == "/statistics/") { %>
        <div class="nav">
            <button class="nav_element" onclick="gH();">Home</button>
            <button class="nav_element_selected">Statistics</button>
            <button class="nav_element" onclick="gMMT();">Monitor & Manage Traffic</button>
            <button class="nav_element" onclick="gSs();">Settings</button>
        </div>
    <% } else if(page == "/traffic/") { %>
        <div class="bottom_popup" id="popup">
            <div class="bottom_popup-content">
                <span class="loader" id="lap"></span>
                <h2 id="bottom_popup_name"></h2>
                <h4 id="bottom_popup_content" style="color: white;"></h4>
                <button class="h" onclick="popupVU();">View user</button>
                <br><br>
            </div>
        </div>

        <div class="bottom_popup" id="user_popup">
            <div class="bottom_popup-content">
                <span class="loader" id="laup"></span>
                <h2 id="bottom_user_popup_name"></h2>
                <h4 id="bottom_user_popup_content"></h4>
                <br><br>
            </div>
        </div>

        <div class="bottom_popup" id="offline_popup">
            <div class="bottom_popup-content" style="height: 100%;">
                <span class="loader"></span>
                <h1 class="h">You are offline</h1>
                <h2>Please check your internet connection</h2>
            </div>
        </div>

        <div class="nav">
            <button class="nav_element" onclick="gH();">Home</button>
            <button class="nav_element" onclick="gS();">Statistics</button>
            <button class="nav_element_selected">Monitor & Manage Traffic</button>
            <button class="nav_element" onclick="gSs();">Settings</button>
        </div>
        <div style="margin: 15px;">
            <select id="filters">
                <option hidden value="0">Filter by</option>
                <option value="None">None</option>
                <option disabled>───── Only show ─────</option>
                <option value="OST">Only show threats</option>
                <option value="OSB">Only show blocked</option>

                <option disabled>────── Sorting ──────</option>
                <option value="AZ">Sort A-Z</option>
                <options value="ZA">Sort Z-A</options>
            </select>
            &nbsp;&nbsp;<input placeholder="Search..." style="width: 15rem;" id="search"
            onkeyup="searchUpdated(gEBI('search').value);" />
            &nbsp;&nbsp;<button onclick="clearFilters();" class="h">Clear filters</button>
            &nbsp;&nbsp;<button onclick="refresh();" class="h">Refresh</button>
        </div>
        <span class="loader" id="lat"></span>
        <div class="table_overflow">
            <table style="width: 100%;" id="values">
                <tbody>
                    <tr>
                        <th style="width: 16%;">Request ID</th>
                        <th style="width: 16%;">User ID</th>
                        <th style="width: 50%;">Page URL</th>
                        <th style="width: 8%;">Threat?</th>
                        <th style="width: 8%;">Blocked?</th>
                    </tr>
                    <!--<tr onclick="viewLog('123');">
                        <td>123</td>
                        <td>123</td>
                        <td>/</td>
                        <td style="background: green;">No</td>
                    </tr>
                    <tr onclick="viewLog('123');">
                        <td>123</td>
                        <td>123</td>
                        <td>/?sql=SELECT * FROM Users</td>
                        <td style="background: red;">Yes</td>
                    </tr>-->
                </tbody>
            </table>
        </div>
    <% } else if(page == "/settings/") { %>
        <div class="nav">
            <button class="nav_element" onclick="gH();">Home</button>
            <button class="nav_element" onclick="gS();">Statistics</button>
            <button class="nav_element" onclick="gMMT();">Monitor & Manage Traffic</button>
            <button class="nav_element_selected">Settings</button>
        </div>

        <div style="margin: 15px;">
            <button onclick="saveChanges();" id="saveChanges" class="h">Save changes</button>
            &nbsp;&nbsp;<button onclick="resetDefaultSettings();" id="resetSettings" class="h">Reset to default settings</button>
        </div>

        <span class="loader" id="loader"></span>
        <div class="table_overflow">
            <div id="settings" style="background-color: #575757; color: white;"></div>
        </div>
    <% } else if(page == "/setup-wizard/") { %>
        <div class="setup_overflow">
            <div id="page">
                <h1>Welcome to the setup wizard!</h1>
            </div>
        </div>
    <% } else { %>
        <div class="nav">
            <button class="nav_element" onclick="gH();">Home</button>
            <button class="nav_element" onclick="gS();">Statistics</button>
            <button class="nav_element" onclick="gMMT();">Monitor & Manage Traffic</button>
            <button class="nav_element" onclick="gSs();">Settings</button>
        </div>
        <h1>No page found</h1>
    <% } %>
</div>