<head>
    <link rel="stylesheet" href="<%- assets.css %>">
</head>

<div class="container">
    <h1>Your connection is being checked...</h1>
</div>

<script>
    setTimeout(() => {
        location.reload();
    }, 500);
</script>